@{
	ViewBag.Title = "Home Page";
}

<div style="height: 200px;"></div>
<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<form action="/" method="POST">
					<div class="form-group">
						<input type="text" class="form-control" id="Username" name="Username" placeholder="Username">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" id="Password" name="Password" placeholder="Password">
					</div>
					<button type="submit" class="btn btn-default btn-block">Login</button>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-4">
	</div>
</div>
